body {
    background-image: url('./src/assets/gameboy.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    display:flex;
    justify-content: center;
    padding: 0;
    border: 0;
    margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#root {
    position: fixed;
    margin-top: 181px;
    margin-left: 12px;
}

.tile {
    background-image: url('./src/assets/hiddengrass.png');
    width: 32px;
    height: 32px;
    text-align: center;
    color: #26654e;
    font-family: 'Press Start 2P', cursive;
    /* border: 2px solid rgb(255, 0, 217); */
}

.text {
    /* border: 2px solid lime; */
    display: inline-block;
    padding-top: 7px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.explored {
    background-image: url('./src/assets/revealedgrass.png');
    background-size: cover;
}

.bombed {
    background-image: url('./src/assets/voltorb.png');
    background-size: cover;
}

.flagged {
    background-image: url('./src/assets/flag.png');
    background-size: cover;
}

.modal {
    display: flex;
    justify-content: center;
}

.modal-screen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
}

.modal-box {
    position: absolute;
    top: 75px;
    /* left: 30px; */
    z-index: 3;
    display:flex;
    flex-direction: column;
    align-content: center;
}

img {
    margin-top: 15px;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, #565656, #565656, #565656, #565656, transparent);
    color: rgb(171, 171, 171);
    font-weight: normal;
    position: fixed;
    top: 133px;
    margin-left: -27px;
    padding: 5px;
    letter-spacing: 1.25px;
    border-radius: 5px;
}

.modal-start {
    position: absolute;
    top: 0;
    /* left: 30px; */
    z-index: 3;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 1px 6px -1px #000000;
}

.modal-start > img {
    margin:0;
}

.modal-start > img:last-child {
    width: 99px;
    position: absolute;
    z-index: 4;
    margin-top: 65px;
    display: inline-block;
    animation: wiggle 500ms infinite;
    cursor: pointer;
}

.modal-start > img:last-child:hover {
    animation: none;
    cursor: pointer;
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(3deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}

@keyframes pop {
    0% { transform: scale(0.7); }
    50% { transform: scale(1); }
    100% { transform: scale(0.7); }
}

.stopwatch {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196, 196, 196);
    font-size: 12px;
    background-color: rgb(21, 21, 21);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    top: -170px;
    left: -70px;
    width: fit-content;
    letter-spacing: 1.1px;
}

.stopwatch-after {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(191, 121, 0);
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px;
    position: absolute;
    top: 30px;
    left: 41px;
    width: fit-content;
    letter-spacing: 1.1px;
}

h1 {
    color: #fff;
    font-family: ;
}